form{
    width: 25%;
    padding: 3%;
    border-radius: 10%;
    margin: auto;
    background-color: rgba(10, 115, 122, 0.973);
}

div{
    display: flex;
    flex-direction: column;
    margin: 0 10%;

}

label{
    margin-bottom: 5px;
    font-weight: bold;
}
fieldset{
    margin-bottom: 12px;

}

input{
    margin-bottom: 5px;
    margin-top: 5%;
    text-align: center;

}

.login{
    border: 1px solid black;
    padding: 15px 5px;
    background-color: rgb(139, 12, 129);
    border-radius: 10%;
    
}